<h1>Conception Connection!</h1>
<h2>Based on <a target="_blank"
    href="http://www.smbc-comics.com/index.php?db=comics&id=2922#comic">SMBC
    2922</a></h2> 
  <p>Enter your birth year, month, and day all as numbers. Please
  keep in mind to not use leading zeros. That is, if your birthday is May 3rd,
  1990, you would put 1991 in the first box, 5 in the second, and 3 in the
  third. I will keep working on improvements and bug fixes. Let me know at <a
  href="mailto:mxadelman@gmail.com">mxadelman@gmail.com</a></p>

<%= form_tag :action => 'create' do %>
    <%= select_date(Date.today, :start_year => Time.now.year, 
                    :end_year => Time.now.year - 100,
                    :order => [:year, :month, :day]) %>
  <%= submit_tag "Submit" %>
<% end %>

</form> 
